$bg-color: #121212

$elementify-button-light-color: #3090ff
$elementify-button-dark-color: #0b7dff
$elementify-hover-light-color: #3292ff
$elementify-hover-dark-color: #1984ff

$alkali-metal-light-color: #ffcdcd
$alkali-metal-dark-color: #ff8a8a
$alkali-metal-border-color: #ff8b8b

$alkaline-earth-metal-light-color: #ffe6ca
$alkaline-earth-metal-dark-color: #ffbf7b
$alkaline-earth-metal-border-color: #ffb96e

$transition-metal-light-color: #b1deff
$transition-metal-dark-color: #7fcaff
$transition-metal-border-color: #6dc2ff

$post-transition-metal-light-color: #c8d5ff
$post-transition-metal-dark-color: #8ba6ff
$post-transition-metal-border-color: #809dff

$lanthanide-light-color: #acf1fd
$lanthanide-dark-color: #67d9ed
$lanthanide-border-color: #6bd9ed

$actinide-light-color: #c5f797
$actinide-dark-color: #89d83f
$actinide-border-color: #8bd447

$metalloid-light-color: #aafab7
$metalloid-dark-color: #5ede74
$metalloid-border-color: #5ed271

$nonmetal-light-color: #d2c6ff
$nonmetal-dark-color: #a38aff
$nonmetal-border-color: #9f85ff

$halogen-light-color: #f0d1ff
$halogen-dark-color: #d396ff
$halogen-border-color: #cb81ff

$noble-gas-light-color: #ffcae7
$noble-gas-dark-color: #ff98d1
$noble-gas-border-color: #ff89ca