@use 'colors'
@use 'var'

$gap: 40px
.solution
    gap: 40px

.solution-text
    margin-top: $gap

.solution-button
    margin-bottom: $gap

$gap: 5px
.scroll
    max-width: 80vw
    display: flex
    overflow-x: scroll
    border: 1px solid white
    padding: $gap
    gap: $gap

$width: 210px
.element
    width: $width
    aspect-ratio: 21 / 25
    display: grid
    grid-template-rows: 20% 45% 1fr 1fr
    place-items: center
    padding: 5px 0
    flex-shrink: 0 // Does not shrink element's width
    & > span:first-child // Atomic Number
       font-size: 25px
    & > span:nth-child(2) // Symbol
        font-size: 90px
    & > span:nth-child(n + 3) // Name and Group
        font-size: 18px

.space
    width: $width

@mixin gradient($light, $dark, $border)
    background: linear-gradient(to right bottom, $light, $dark 80%)
    border: 3px solid $border

.alkali-metal
    @include gradient(colors.$alkali-metal-light-color, colors.$alkali-metal-dark-color, colors.$alkali-metal-border-color)

.alkaline-earth-metal
    @include gradient(colors.$alkaline-earth-metal-light-color, colors.$alkaline-earth-metal-dark-color, colors.$alkaline-earth-metal-border-color)

.transition-metal
    @include gradient(colors.$transition-metal-light-color, colors.$transition-metal-dark-color, colors.$transition-metal-border-color) 

.post-transition-metal
    @include gradient(colors.$post-transition-metal-light-color, colors.$post-transition-metal-dark-color, colors.$post-transition-metal-border-color) 

.metalloid
    @include gradient(colors.$metalloid-light-color, colors.$metalloid-dark-color, colors.$metalloid-border-color)

.lanthanide
    @include gradient(colors.$lanthanide-light-color, colors.$lanthanide-dark-color, colors.$lanthanide-border-color)

.actinide
    @include gradient(colors.$actinide-light-color, colors.$actinide-dark-color, colors.$actinide-border-color)

.nonmetal
    @include gradient(colors.$nonmetal-light-color, colors.$nonmetal-dark-color, colors.$nonmetal-border-color)

.halogen
    @include gradient(colors.$halogen-light-color, colors.$halogen-dark-color, colors.$halogen-border-color)

.noble-gas
    @include gradient(colors.$noble-gas-light-color, colors.$noble-gas-dark-color, colors.$noble-gas-border-color)