@use 'colors'
@use 'var'
@use 'prompt'
@use 'solution'

* 
    color: white
    font-family: sans-serif
    font-weight: bold
    position: relative // top animation

body
    margin: 0
    min-height: 100vh // Allow for vertical scrolling
    background-color: colors.$bg-color
    display: flex
    align-items: center
    justify-content: center
    overflow-x: hidden // Disable horizontal scrolling and wobble effect

button
    border: none
    cursor: pointer
    user-select: none // Do not highlight button text
    background: linear-gradient(to right bottom, colors.$elementify-button-light-color, colors.$elementify-button-dark-color)
    font-size: var.$font-size
    padding: min(25px, 5vw)
    border-radius: min(25px, 4vw)
    &:hover
        background: linear-gradient(to right bottom, colors.$elementify-hover-light-color, colors.$elementify-hover-dark-color)

.wrapper
    display: flex
    flex-direction: column
    align-items: center
    & > span // First text displayed on screen
        font-size: var.$font-size