@use 'colors'
@use 'var'
@use 'prompt'
@use 'solution'

* 
    color: white
    font-family: sans-serif
    font-weight: bold
    position: relative // top animation

body
    margin: 0
    min-height: 100vh
    background-color: colors.$bg-color
    display: flex
    align-items: center
    justify-content: center
    overflow-x: hidden

button
    border: none
    cursor: pointer
    user-select: none
    background: linear-gradient(to right bottom, colors.$elementify-button-light-color, colors.$elementify-button-dark-color)
    font-size: var.$font-size
    padding: 30px
    border-radius: 30px
    &:hover
        background: linear-gradient(to right bottom, colors.$elementify-hover-light-color, colors.$elementify-hover-dark-color)

.wrapper
    display: flex
    flex-direction: column
    align-items: center
    gap: var.$gap
    & > span
        font-size: var.$font-size